{% extends "base.html" %}

{% block title %}Lista de Programas SENA - SENA APP{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <h2>Lista de Programas que el SENA ofrece</h2>
            <div>
                <span>Total: {{ total_programas }} Programas</span>
                <a href="{% url 'admin:programas_programa_add' %}">
                    Nuevo Programa
                </a>
            </div>
        </div>
    </div>
</div>

{% if lista_programas %}
<div>
    <div >
        <div >
            <table>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Nivel Formacion</th>
                        <th>Modalidad</th>
                        <th>Meses</th>
                        <th>Descripcion</th>
                        <th>Centro Formacion</th>
                        <th>Regional</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programa in lista_programas %}
                    <tr>
                        <td><strong>{{ programa.codigo}}</strong></td>
                        <td>{{ programa.nombre }}</td>
                        <td>{{ programa.nivel_formacion }}</td>
                        <td>{{ programa.modalidad }}</td>
                        <td>{{ programa.duracion_meses }}</td>
                        <td>{{ programa.descripcion }}</td>
                        <td>{{ programa.centro_formacion }}</td>
                        <td>{{ programa.regional }}</td>
                        <td>
                            <a href="{% url 'admin:programas_programa_change' programa.pk %}" >
                                Editar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div>
    <div>
        <divrole="alert">
            <h4 >No hay Programas registrados</h4>
            <p>Aún no se han registrado Programas en el sistema.</p>
            <hr>
            <p>
                <a href="{% url 'admin:programas_programa_add' %}" >
                    Registrar Primer Programa
                </a>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}